.hero-section {
    position: relative;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding-left: 150px;
    background-color: rgba(0, 0, 0, 0);
}

  .hero-title {
    font-family: 'Papyrus', fantasy;
    font-size: 2.5rem; 
    color: white; 
    
}

  .hero-description {
    display: flex;
    align-items: center;color: rgb(146, 144, 144);
    gap: 10px; 
  }
  .getstarted:hover {
    background-color: rgba(99, 97, 95, 0.745);
  }
  
  .getstarted {
    background-color: #fafcfa00;
    color: white;
    border: 2px solid white;
    padding: 15px 10px;
    font-size: 1rem;
    display: inline-block;
    align-items: center; 
    white-space: nowrap;
  }
  
  
  .hero-content {
    text-align: left;
    max-width: 100vb;border-color: white;
  }
  
  .hero-stats {
    display: flex;
    align-items: center;
    margin-top: 20px;color: rgb(255, 255, 255);
  }
  
  .stat-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  .highlight{
    font-size: 2rem;
    font-weight: bold;
  }
  .stat-text {
    font-size: 1rem;
    opacity: 0.8;
  }
  
  .separator {
    font-size: 1.5rem;
    color: rgb(145, 142, 142);
    opacity: 0.6;padding: 5%;
  }
  