
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 19px,
    rgba(152, 145, 145, 0.1) 20px
  );
  opacity: 0.8;
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to right, #011e05, #01160b, #122718);
  color: white;
}

/* Optional: Remove or adjust based on your design */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
